body {background-color: rgb(255, 240, 215);}

#titulo1 {
    text-align: center;
    font-size: 26px;
    color: rgb(87, 17, 17);
}

#titulo2 {
    text-align: center;
    font-size: 25px;
    color: rgb(87, 17, 17);
}

#img1 {
    text-align: center;
}

.p1 {
    text-align: center;
    font-size: 21px;
    color: rgb(69, 45, 38);
}

.p2 {
    text-align: center;
    font-size: 21px;
    color: rgb(57, 36, 29);
}

.p3 {
    text-align: center;
    font-size: 21px;
    color: rgb(69, 45, 38);
}

.li {
    text-align: left;
    font-size: 21px;
    color: rgb(69, 45, 38);
}