body {background-color: rgb(255, 240, 215);}

#titulo1 {
    text-align: center;
    font-size: 26px;
    color: rgb(87, 17, 17);
}

#titulo2 {
    text-align: center;
    font-size: 25px;
    color: rgb(87, 17, 17);
}

.p1 {
    text-align: center;
    font-size: 21px;
    color: rgb(69, 45, 38);
}

.p2 {
    text-align: center;
    font-size: 21px;
    color: rgb(57, 36, 29);
}

.p3 {
    text-align: center;
    font-size: 21px;
    color: rgb(69, 45, 38);
}

#img1 {
    display: block;
    margin: 0 auto;
}

.ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    font-size: 20px;
}

#img2 {
    width: 50%;    
}

.header {
    text-align: center;
    font-size: 50px;
    color:rgb(87, 17, 17)
}

.principal {
    background-color: rgb(255, 240, 215) ;
}

.beneficios {
    background-color: bisque;
}